<form class="form">
    <div class="form-group">
        <label class="control-label">Name</label>
        <div decorator="tooltip:{{ state.errors.name }}">
            <input type="text" class="form-control" value="{{ model.name }}" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Count</label>
        <div decorator="tooltip:{{ state.errors.name }}">
            <input type="number" class="form-control" value="{{ model.count }}" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label">Category</label>
        <div decorator="tooltip:{{ state.errors.category_id }}">
            <select class="form-control" value="{{ model.category_id }}">
                <option value="{{ null }}">- select -</option>

                {{#lists.categories}}
                <option value="{{ this.id }}">{{ this.name }}</option>
                {{/lists.countries}}
            </select>
        </div>
    </div>

    <div decorator="tooltip:{{ state.errors.type }}">
        {{#lists.types}}
        <div class="radio">
            <label>
                <input type="radio" value="{{ this }}" name="{{ model.type }}" />
                    {{ this }}
                </label>
            </div>
        {{/lists.types}}
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" checked="{{ model.has_tags }}" />
            Has tags
        </label>
    </div>
    <div class="form-group" style="display: {{ model.has_tags ? 'block' : 'none' }}">
        <label class="control-label">Tags</label>
        <div style="position: relative" decorator="tooltip:{{ state.errors.type }}">
            <select class="form-control" multiple="multiple" value="{{ model.tags }}"
                    decorator="multiselect:{{ config.multiselect }}"
                    data-rv-tooltip="state.errors.tags">
                {{#lists.tags}}
                <option value="{{ this }}">{{ this }}</option>
                {{/lists.tags}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Component</label>
        <ios-switcher enabled="{{ model.is_enabled }}" on-toggle="onToggle"></ios-switcher>

        {{#if model.is_enabled}}
        <div intro-outro="slide:{duration: 300}">
            <div class="alert alert-info" style="margin-bottom: 0">Collapse</div>
        </div>
        {{/if}}
    </div>

    <div class="form-group">
        <label class="control-label">Model attributes</label>
        <pre style="height: 150px; overflow-y: scroll">{{ json(model) }}</pre>
    </div>

    <div class="form-group">
        <label class="control-label">View description</label>
        <pre style="height: 50px; overflow-y: scroll">{{& description(model) }}</pre>
    </div>

    <div class="form-group">
        <label class="control-label">Random color</label>
        <div class="form-control" style="background-color: {{ model.color }}"></div>
    </div>

    <div class="form-buttons">
        <button type="submit" class="btn btn-primary"
                on-click="onSubmit"
                disabled="{{ !state.is_valid }}">Submit</button>
        <button type="button" class="btn btn-default"
                on-click="onReset">Reset</button>
    </div>
</form>