<form class="form">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text" class="form-control"
               data-rv-value="model:name"
               data-rv-tooltip="state.errors.name" />
    </div>
    <div class="form-group">
        <label class="control-label">Count</label>
        <input type="number" class="form-control"
               data-rv-value="model:count | intval"
               data-rv-tooltip="state.errors.count"/>
    </div>
    <div class="form-group">
        <label class="control-label">Category</label>
        <select class="form-control"
                data-rv-value="model:category_id | intval"
                data-rv-tooltip="state.errors.category_id">
            <option value="">- select -</option>
            <option data-rv-each-category="categories" data-rv-value="category.id">{{ category.name }}</option>
        </select>
    </div>

    <div data-rv-tooltip="state.errors.type">
        <div class="radio" data-rv-each-type="types">
            <label>
                <input type="radio" data-rv-value="type"
                       data-rv-checked="model:type"
                       data-rv-name="'type[' | concat model.id | concat ']'" />
                {{ type }}
            </label>
        </div>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" data-rv-checked="model:has_tags" />
            Has tags
        </label>
    </div>
    <div class="form-group" data-rv-show="model:has_tags">
        <label class="control-label">Tags</label>
        <div style="position: relative">
            <select class="form-control" multiple="multiple"
                    data-multiselect-config="<%- JSON.stringify(multiselectConfig) %>"
                    data-rv-value="model:tags"
                    data-rv-multiselect="model:tags"
                    data-rv-tooltip="state.errors.tags">
                <option data-rv-each-tag="tags" data-rv-value="tag">{{ tag }}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Component</label>
        <ios-switcher model="model" attribute="is_enabled" duration="300" data-role="switcher"></ios-switcher>
        <div data-rv-collapse="model:is_enabled">
            <div class="alert alert-info" style="margin-bottom: 0">Collapse</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Model attributes</label>
        <pre style="height: 150px; overflow-y: scroll" data-rv-text="model.toJSON < :* | json"></pre>
    </div>

    <div class="form-group">
        <label class="control-label">View description</label>
        <pre style="height: 50px; overflow-y: scroll" data-rv-html="view.getDescription < .model:*"></pre>
    </div>

    <div class="form-group">
        <label class="control-label">Random color</label>
        <div class="form-control" data-rv-color="model:color"></div>
    </div>

    <div class="form-buttons">
        <button type="submit" class="btn btn-primary"
                data-rv-on-click="view.submit"
                data-rv-enabled="state.is_valid">Submit</button>
        <button type="button" class="btn btn-default"
                data-rv-on-click="view.reset">Reset</button>
    </div>
</form>