<form class="form">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text" class="form-control" data-attr="name" />
    </div>
    <div class="form-group">
        <label class="control-label">Count</label>
        <input type="number" class="form-control" data-attr="count" />
    </div>
    <div class="form-group">
        <label class="control-label">Category</label>
        <select class="form-control" data-attr="category_id">
            <option value="">- select -</option>
            <% _.each(categories, function(category) { %>
                <option value="<%- category.id %>"><%- category.name %></option>
            <% }) %>
        </select>
    </div>

    <div data-attr="type-list">
        <% _.each(types, function(type) { %>
        <div class="radio">
            <label>
                <input type="radio" data-attr="type" value="<%- type %>" name="type[<%- model.id %>]" />
                <%- type %>
            </label>
        </div>
        <% }) %>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" data-attr="has_tags" />
            Has tags
        </label>
    </div>
    <div class="form-group" data-role="tags-form">
        <label class="control-label">Tags</label>
        <div style="position: relative">
            <select class="form-control" data-attr="tags" multiple="multiple">
                <% _.each(tags, function(tag) { %>
                    <option value="<%- tag %>"><%- tag %></option>
                <% }) %>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Component</label>
        <span data-role="switcher"></span>
        <div data-role="collapse-block">
            <div class="alert alert-info" style="margin-bottom: 0">Collapse</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Model attributes</label>
        <pre style="height: 150px; overflow-y: scroll" data-role="model-attrs"></pre>
    </div>

    <div class="form-group">
        <label class="control-label">View description</label>
        <pre style="height: 50px; overflow-y: scroll" data-role="view-desc"></pre>
    </div>

    <div class="form-group">
        <label class="control-label">Random color</label>
        <div class="form-control" data-role="random-color"></div>
    </div>

    <div class="form-buttons">
        <button type="submit" class="btn btn-primary" data-role="btn-submit">Submit</button>
        <button type="button" class="btn btn-default" data-role="btn-reset">Reset</button>
    </div>
</form>