<form class="form">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text" class="form-control"
               v-model="model.name"
               v-tooltip="{{ state.errors.name }}" />
    </div>
    <div class="form-group">
        <label class="control-label">Count</label>
        <input type="number" class="form-control"
               v-model="model.count | intval"
               v-tooltip="{{ state.errors.count }}"/>
    </div>
    <div class="form-group">
        <label class="control-label">Category</label>
        <select class="form-control"
                v-model="model.category_id | intval"
                v-tooltip="{{ state.errors.category_id }}">
            <option value="">- select -</option>
            <option v-repeat="category: categories" value="{{ category.id }}">{{ category.name }}</option>
        </select>
    </div>

    <div v-tooltip="{{ state.errors.type }}">
        <div class="radio" v-repeat="type : types">
            <label>
                <input type="radio"
                       v-model="model.type"
                       value="{{ type }}"
                       name="type[{{ model.id }}]" />
                {{ type }}
            </label>
        </div>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" v-model="model.has_tags" />
            Has tags
        </label>
    </div>
    <div class="form-group" v-show="model.has_tags">
        <label class="control-label">Tags</label>
        <div style="position: relative">
            <select class="form-control" multiple="multiple"
                    data-multiselect-config="{{ ms_config | json }}"
                    v-model="model.tags"
                    v-multiselect="model.tags"
                    v-tooltip="{{ state.errors.tags }}">
                <option v-repeat="tag : tags" value="{{ tag }}">{{ tag }}</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Component</label>
        <ios-switcher v-with="enabled: model.is_enabled"></ios-switcher>
        <div v-collapse="model.is_enabled">
            <div class="alert alert-info" style="margin-bottom: 0">Collapse</div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Model attributes</label>
        <pre style="height: 150px; overflow-y: scroll">{{ model | json }}</pre>
    </div>

    <div class="form-group">
        <label class="control-label">View description</label>
        <pre style="height: 50px; overflow-y: scroll" v-html="view.getDescription()"></pre>
    </div>

    <div class="form-group">
        <label class="control-label">Random color</label>
        <div class="form-control" v-style="background-color: model.color"></div>
    </div>

    <div class="form-buttons">
        <button type="submit" class="btn btn-primary"
                v-on="click: view.submit"
                v-attr="disabled: !state.is_valid">Submit</button>
        <button type="button" class="btn btn-default"
                v-on="click: view.reset">Reset</button>
    </div>
</form>