.ios-switcher {
    $_width: 28px;
    $_height: 18px;
    $_border: 1px;
    $_button: $_height - 2*$_border;
    $_position: $_border;

    position: relative;
    display: inline-block;
    width: $_width;
    height: $_height;
    line-height: $_height;
    vertical-align: middle;

    background-color: #fff;
    border: $_border solid #dfdfdf;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: $_height / 2;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;

    .ios-switcher-btn {
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        width: $_button;
        height: $_button;

        background-color: #fff;
        border-radius: $_button / 2;
        box-shadow: 0 1px 3px rgba(0,0,0,0.4);
        cursor: pointer;
        transition: left 0.25s ease-in-out;
    }

    &.on {
        background-color: #64bd63;
        border-color: #64bd63;

        .ios-switcher-btn {
            left: $_width - $_button - 2*$_border;
        }
    }
}