<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Rivets.Js example</a>
        </div>

        <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Count" data-role="item-count" value="1" />
                </div>
                <button type="submit" class="btn btn-primary" data-role="btn-render">Render</button>
                <button type="button" class="btn btn-default" data-role="btn-update">Update</button>
                <button type="button" class="btn btn-danger" data-role="btn-remove">Remove</button>
            </form>
        </div>
    </div>
</nav>
<div class="container" style="margin-top: 50px">
    <div class="row">
        <div class="col-lg-3">
            <h2>Rivets.Js</h2>
            <div data-role="region-rivets"></div>
        </div>
        <div class="col-lg-3">
            <h2>Backbone.Stickit</h2>
            <div data-role="region-stickit"></div>
        </div>
        <div class="col-lg-3">
            <h2>Ractive.Js</h2>
            <div data-role="region-ractive"></div>
        </div>
        <div class="col-lg-3">
            <h2>Vue.Js</h2>
            <div data-role="region-vue"></div>
        </div>
    </div>
</div>